/* Red borders on visible elements - handy for debugging */
/* * { border: 1px solid red; } */

:root {
  /* reverse for dark mode */
  --bg-color: 255, 255, 255;
  --text-color: 33, 48, 48;
}

body {
  padding: 0;
  margin: 0;

  background-color: rgba(var(--bg-color), 1);
  background-size: cover;
  color: rgba(var(--text-color), 1);

  font-family: "Code New Roman", sans-serif;
  font-size: 22px;

  animation: fadein 1s;
}

.strings {
  margin-bottom: 5vh;
}

#welcome-string {
  height: 10vh;
  padding-top: 10vh;
  text-align: center;
  font-weight: 200;
  font-size: 4rem;
  margin-bottom: 0;
}
#nowelcome-string {
  text-align: center;
  font-weight: 100;
  color: rgba(var(--text-color), 1);
  opacity: 0.5;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  position: absolute;
  width: 100%;
}
.group a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  filter: grayscale(100%);
}
.group img {
  height: 30px;
}

.title {
  font-size: 20px;
  font-weight: 350;
  margin-top: 5px;
  margin-bottom: 0;
}
.summary {
  font-size: 15px;
  margin: 5px;
  vertical-align: middle;
}
.feed_favicon {
  height: 18px;
  vertical-align: middle;
}

a,
a:hover {
  transition: all 0.4s ease;
}
a {
  color: rgba(var(--text-color), 1);
  text-decoration: none;
  opacity: 0.5;
}
a:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#feed_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}
@media only screen and (max-height: 800px) {
  #feed_list {
    height: 40vh;
    overflow: hidden;
  }
}
@media only screen and (max-width: 900px) {
  #feed_list {
    height: 40vh;
    overflow: hidden;
  }
}
@media only screen and (max-width: 600px) {
  #feed_list {
    overflow: scroll;
  }
}

.feed_item {
  padding: 5px 20px;
  margin: 10px;
  border: 3px solid rgba(var(--text-color), 0.2);
  border-radius: 5px;
  background-color: rgba(var(--bg-color), 1);
}
.feed_item:hover {
  filter: invert(1);
}
.feed_item:hover a {
  opacity: 1;
}
.feed_item:hover img {
  filter: invert(1);
}

.button {
  margin: 0;
  outline: none;
  background: transparent;
  background-color: rgba(var(--bg-color), 1);
  opacity: 0.5;
  border: 0;
  text-align: right;
  width: 100%;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Code New Roman";
  cursor: pointer;
  transition: all 0.4s ease;
}

.button:hover {
  opacity: 1;
}

#reload-button {
  background-color: rgba(var(--bg-color), 1);
  padding: 10px;
}
